<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><%= title %></h1>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-cloud-download"></span> Download class materials:
          <ul class="download-list list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-picture"></span> <a href="https://github.com/netshade/ios-class/releases/download/0.8/ClassSlides.pdf">Class slides, PDF</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-facetime-video"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/ClassSlides.zip">Class slides, Keynote</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Code.zip">Code snippets</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab1.zip">Lab 1</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab2.zip">Lab 2</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab3.zip">Lab 3</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab4.zip">Lab 4</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab5.zip">Lab 5</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab6.zip">Lab 6</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> Lab 7 (No code)</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab8.zip">Lab 8</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab9.zip">Lab 9</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab10.zip">Lab 10</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab10a.zip">Lab 10a - MapKit</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab11.zip">Lab 11</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-compressed"></span> <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Lab12.zip">Lab 12</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-wrench"></span> <a href="https://github.com/netshade/ios-class">netshade/ios-class</a> (<a href="https://github.com/netshade/ios-class/releases/tag/<%= release %>">Latest release: <%= release %></a>)</li>
          </ul>
        </li>
        <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> Contact Chris Zelenak: <a href="https://twitter.com/netshade" class="twitter-follow-button" data-show-count="false">Follow @netshade</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> , <a href="mailto:netshade@gmail.com">netshade@gmail.com</a>, <a href="tel:+13174266252">317-426-6252</a></li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-calendar"></span> Class starts every day at 9AM. We'll be taking a morning and afternoon break, as well as lunch. We'll try to communicate any important class updates on this webpage, as well as via email/phone.
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-wrench"></span> Tools check: <a href="https://github.com/netshade/ios-class/releases/download/<%= release %>/Code.zip">download the code snippets</a> and run the script <code>code/build</code> in the command line. This should ensure your developer tools are setup and working correctly.
        </li>
    </div>
    <script type='text/javascript' src='/js/jquery.min.js' />
    <script type='text/javascript' src='/js/bootstrap.min.js' />
  </body>
</html>
